body {
    font-family: Arial, sans-serif
}
html {
    /* Image utilisé */
    background-image: url("resaux.jpeg");
    /* modifie la taille de l'image */
    min-height:400px;
    margin-left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Positionnez les block de la barre de navigation à l'intérieur de l'image */
.container {
    position: absolute;
    margin: 10px;
    width: auto;
}
/* barre de navigation */
.topnav {
    overflow: hidden;
    background-color: grey;
}
/* Lien de la barre de navigation */
.topnav a {
float: left;
}

.topnav a:hover {

}